<div class='data'>

  <div class="row">
    <div class="left-column"><label>Количество километров</label></div>
    <div class="right-column"><input type='number' #distance (input)='getDistance(distance.value)'></div>
  </div>

  <div class="row">
    <div class="left-column"><label>Возраст</label></div>
    <div class="right-column"><input type='number' #age (input)='getAge(age.value)'></div>
  </div>

  <div class="row">
    <div class="left-column"><label>Вес багажа</label></div>
    <div class="right-column"><input type='number' #baggage (input)='getBaggage(baggage.value)'>
    </div>
  </div>
</div>

<button class='button' (click)="sendData()"> Рассчитать </button>