<div class='data'>

  <div class="row">
    <div class="left-column"><label for="distance">Количество километров</label></div>
    <div class="right-column"><input name="distance"></div>
  </div>

  <div class="row">
    <div class="left-column"><label for="age">Возраст</label></div>
    <div class="right-column"><input name="age"></div>
  </div>

  <div class="row">
    <div class="left-column"><label for="baggage">Вес багажа</label></div>
    <div class="right-column"><input name="baggage"></div>
  </div>
</div>