<span class='options'>Предложения:</span>
<table cellspacing="0">
  <tr>
    <td class="title">Аэрофлот</td>
  </tr>
  <tr>
    <td class="lc price" *ngIf="aeroflotEconom">Эконом: {{aeroflotEconom}} &#8381;</td>
  </tr>
  <tr>
    <td class="lc price" *ngIf="aeroflotHigh">Продвинутый: {{aeroflotHigh}} &#8381;</td>
  </tr>
  <tr>
    <td class="lc price" *ngIf="aeroflotLux">Люкс: {{aeroflotLux}} &#8381;</td>
  </tr>
  <tr>
    <td class="title">РЖД</td>
  </tr>
  <tr>
    <td class="lc price" *ngIf="rgdClassEconomy">Эконом: {{rgdClassEconomy}} &#8381;</td>
  </tr>
  <tr>
    <td class="lc price" *ngIf="rgdClassHigh">Продвинутый: {{rgdClassHigh}} &#8381;</td>
  </tr>
  <tr>
    <td class="lc price" *ngIf="rgdClassLux">Люкс: {{rgdClassLux}} &#8381;</td>
  </tr>
</table>