<span class='options'>Предложения:</span>
<table cellspacing="0">
  <tr>
    <td class="title">Аэрофлот</td>
  </tr>
  <tr>
    <td class="lc">Эконом: <span *ngIf="aeroflotEconom">{{aeroflotEconom}}</span></td>
  </tr>
  <tr>
    <td class="lc">Продвинутый: <span *ngIf="aeroflotHigh">{{aeroflotHigh}}</span></td>
  </tr>
  <tr>
    <td class="lc">Люкс: <span *ngIf="aeroflotLux">{{aeroflotLux}}</span></td>
  </tr>
  <tr>
    <td class="title">РЖД</td>
  </tr>
  <tr>
    <td class="lc">Эконом: <span *ngIf="rgdClassEconomy">{{rgdClassEconomy}}</span></td>
  </tr>
  <tr>
    <td class="lc">Продвинутый: <span *ngIf="rgdClassHigh">{{rgdClassHigh}}</span></td>
  </tr>
  <tr>
    <td class="lc">Люкс: <span *ngIf="rgdClassLux">{{rgdClassLux}}</span></td>
  </tr>
</table>