table {
  width: 100%; 
  color: white;
margin-top: 15px;
 }

td, th {
  padding: 8px;
  border: 1px solid rgb(220, 220, 220);
 }

th {
  color: white;
}
 
.lc { 
  text-align: left; 
  color:black;
 }

.title,
.options {
   font-weight: bold;
   color:black;
 }
 
.title {
background: rgb(245, 245, 245);
}
